<div class="masonryitem">

    <div class="thumbnail">
        <img src="http://placehold.it/320x150" alt="">
        <div class="caption">
            <h4 class="pull-right"> <%= event.user.first_name %> </h4>
            <h4> <%=link_to event.topic, event_path(event) %></a>
            </h4>
            <p>See more snippets like this online store item at</p>
        </div>


        <div class="ratings">
        <p class="pull-right"><%= event.comments.count %> comments</p>
        <p>
        <%= event.likes.count %>
        <% if current_user && event.user == current_user %>
        <%= link_to '修改', edit_event_path(event) %>
        <%= link_to '刪除', event_path(event),:method => :delete  %>
        <% end %>
        </p>

        </div>
    </div>
</div>
