<h1> <%= f.label :topic, "標題: "%> </h1>
<%= f.text_field :topic %>

<%= f.label :category_id, "種類: "%>
<%= f.select :category_id, Category.all.map{|x| [x.name, x.id]} %>

<h1> <%= f.label :article, "內容: "%> </h1>
<%= f.text_area :article %>

<H2> <%= f.label :logo, "上傳圖片: "%> </H2>
<%= f.file_field :logo %>
<% if @event.logo.exists? %>
 <p> <%= check_box_tag "_remove_logo", "1" %>刪除照片 </p>
<% end %>



