<h1> <%= f.label :topic, "標題: "%> </h1>
<%= f.text_field :topic %>

<%= f.label :category_id, "種類: "%>
<%= f.select :category_id, Category.all.map{|x| [x.name, x.id]} %>

<%= f.label :type_id, "車種: "%>
<%= f.select :type_id, Type.all.map{ |t| [t.name, t.id] } %>

<%= f.cktext_area :article, :class => 'someclass', :ckeditor => {:language => 'zh-tw'} %>




