<body>

  <ul class="container">
  <p>這是首頁</p>

  <div class = "topic_area" >

    <%= link_to '新增文章', new_event_path, :class => " btn btn-primary active "%>

    <p>
        <%= search_form_for @q do |f| %>
          <%= f.label :topic_cont,"尋找文章" %>
          <%= f.search_field :topic_cont %>
          <%= f.submit "Search" %>
        <% end %>
    </p>
    <table class ="table" border='2'>
        <tr>
          <td width="80" align="center" valign = "middle">
          <%= sort_link(@q, :category_name,"類別") %>
          </td>
          <td width="300" align="center" valign = "middle">
          <%= sort_link(@q, :topic,"標題") %>
          </td>
          <td width="80" align="center" valign = "middle">
          <%= sort_link(@q, :user,"使用者") %>
          </td>
          <td width="100" align="center" valign = "middle">
          <%= sort_link(@q, :updated_at,"時間") %>
          </td>
          <td width="200" align="center" valign = "middle">操作</td>
        </tr>
    <% @events.each do |event| %>
          <tr>
            <td align="center" valign = "middle"><%= event.category_name %> </td>
            <td><%= event.topic %> </td>
            <td align="center" valign = "middle"><%= event.user.first_name %> </td>
            <td align="center" valign = "middle"><%= event.created_at.strftime('%F') %> </td>

            <td align="center" valign = "middle">
              <%= link_to '顯示', event_path(event) , :class => " btn btn-primary active "%>
              <%= link_to '修改', edit_event_path(event) ,:class => " btn btn-success active "%>
              <%= link_to '刪除', event_path(event) , :method => :delete, :class => " btn btn-danger active" %>
            </td>
          </tr>
     <% end %>
    </table>
  </div>

  <%= paginate @events %>

  </ul>
</body>


