<h1>這是首頁</h1>

<ul>

<% @events.each do |event| %>

<table class ="table">
    <th>
    <%= event.topic %>
    <%= event.article %>
    <%= event.user.first_name %>
    </th>


<td class="btn-group">
<%= link_to '回覆', event_comments_path(event) ,:class => " btn btn-success active "%>
<%= link_to '顯示', event_path(event) , :class => " btn btn-primary active "%>
<%= link_to '修改', edit_event_path(event) ,:class => " btn btn-success active "%>
<%= link_to '刪除', event_path(event) , :method => :delete, :class => " btn btn-danger active" %>
</td>
<% end %>
</table>
</ul>
<%= link_to '新增', new_event_path, :class => " btn btn-primary active "%>
<%= paginate @events %>

