<body>

  <ul class="container">
  <div class = "topic_area" >

    <%= link_to '新增文章', new_event_path, :class => " btn btn-primary active "%>
    <p>
    <%= search_form_for @q do |f| %>
      <%= f.label :topic_cont,"尋找文章" %>
      <%= f.search_field :topic_cont %>
      <%= f.submit "Search" %>
    <% end %>
    </p>

    <td>
       <button class="btn btn-default" type="submit">
       <%= link_to "所有文章", events_path%>
       </button>

       <% @categories.each do |category| %>
       <button class="btn btn-default" type="submit">
       <%= link_to category.name , "/events?category_id=#{category.id}" %>
       </button>
       <% end %>
    </td>

    <table class ="table" border='2'>

      <thead>
        <tr>
          <td width="100" align="center" valign = "middle">
          <%= link_to events_path( :type_id => params[:type_id] , :category_id => params[:category_id] ,:sort => "category_id") do%>
          <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>

          類別
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] ,:sort => "category_id DESC") do%>
          <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
          </td>
          <td width="100" align="center" valign = "middle">
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] ,:sort => "type_id") do%>
          <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          車種
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] ,:sort => "type_id DESC") do%>
          <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
          </td>
          <td width="240" align="center" valign = "middle">
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] ,:sort => "topic") do%>
          <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          標題
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] , :sort => "topic DESC") do%>
          <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
          </td>
          <td width="120" align="center" valign = "middle">
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] , :sort => "user_id")  do%>
          <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          使用者
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] , :sort => "user_id DESC") do%>
          <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
          </td>
          <td width="120" align="center" valign = "middle">
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] , :sort => "comments_count") do%>
          <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          留言數
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] , :sort => "comments_count DESC") do%>
          <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
          </td>
          <td width="120" align="center" valign = "middle">
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] , :sort => "likes_count") do%>
          <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          馬力值
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] , :sort => "likes_count DESC") do%>
          <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
          </td>
          <td width="180" align="center" valign = "middle">
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] , :sort => "created_at") do%>
          <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          發文時間
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] , :sort => "created_at DESC") do%>
          <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
          </td>
          <td width="180" align="center" valign = "middle">
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] , :sort => "comments_created_at") do%>
          <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          最後留言
          <%= link_to  events_path( :type_id => params[:type_id] ,  :category_id => params[:category_id] , :sort => "comments_created_at DESC") do%>
          <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
          </td>
          <% if current_user%>
          <td width="120" align="center" valign = "middle">操作</td>
          <% end %>
        </tr>
      </thead>
      <tbody id="events" >
       <%= render @events %>
      </tbody>
    </table>
  </div>
<div id="paginator">
  <%= paginate @events, :remote => true %>
</div>
  </ul>
</body>


