<P> 這是標題：<%= @event.topic %></P>
<P> 這是內容：<%= simple_format(@event.article) %> </P>

<%= form_for @comment, :url => event_comments_path(@event) do |f| %>
   <%= f.text_field :comment %>
   <%= f.submit %>
<% end %>


<ul>
<% @comments.each do |comment| %>
  <li>
    <%= comment.comment %>
    <%= link_to 'edit', edit_event_comment_path(@event, comment) %>
    <%= link_to 'destroy', event_comment_path(@event, comment),:method => :delete %>
  </li>
<% end %>
</ul>





<p><%= link_to '回到首頁', events_path %></p>
