<body class = "container">

  <P> 這是標題：<%= @event.topic %></P>
  <P> 這是種類：<%= @event.category_name  %></P>
  <P> 這是內容：<%= simple_format(@event.article) %> </P>
  <P> 留言數量：<%= @event.comments.count %></P>

  <% if @event.logo.exists? %>
    <%= image_tag ( @event.logo.url) %>
  <% else %>
     None
  <% end %>


  <% like = @event.finy_like_by(current_user) %>
  <div id="like-area">
  <%= render :partial => "like", :locals => { :like => like } %>
  </div>


<p> 誰按過讚? </p>
  <% @likes.each do |like| %>
    <li>
      <%= like.user.try(:first_name) %>
    </li>
  <% end %>


  <%= form_for @comment, :url => event_comments_path(@event) do |f| %>
     <%= f.text_field :comment %>
     <%= f.submit %>
  <% end %>


  <ul>
  <% @comments.each do |comment| %>
    <li id="comment-<%= comment.id %>">
      <%= comment.comment %>
      <%= comment.user.try(:first_name) %>
      <% if current_user && comment.user == current_user %>
      <%= link_to 'edit', edit_event_comment_path(@event, comment) %>
      <%= link_to 'destroy', event_comment_path(@event, comment),:method => :delete, :remote => true %>
       <% end %>
    </li>
  <% end %>



  </ul>
  <p><%= link_to '回到首頁', events_path %></p>

</body>
