<div id="comment-<%= comment.id %>">

      <font size="6"> <%= comment.user.try(:first_name) %> </font>

      <%= comment.created_at.strftime('%F') + " " + comment.created_at.strftime('%R') %>

      <% if current_user && comment.user == current_user %>
         <%= link_to 'edit', edit_event_comment_path(@event, comment) %>
         <%= link_to "Delete", event_comment_path(@event, comment), :method => :delete, :remote => true %>
       <% end %>

      <p><font size="4"><%= comment.comment%></p></font>
 </div>
