<li id="comment-<%= comment.id %>">
    <%= comment.comment%> by <%= comment.user.try(:first_name) %> @ <%= comment.created_at.strftime('%F') + " " + comment.created_at.strftime('%R') %>
      <% if current_user && comment.user == current_user %>
        <%= link_to 'edit', edit_event_comment_path(@event, comment) %>
        <%= link_to "Delete", event_comment_path(@event, comment), :method => :delete, :remote => true %>
      <% end %>
 </li>
