<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "Event application" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '262683007398393',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<body>

<header class = "container">

 <navbar class = "main-nav-bar">

      <div class = "logo">
         這邊要放LOGO
      </div>

      <div class = "login">

      <% if current_user %>
          Hi! <%=link_to current_user.email, user_path(current_user),:method => :get%>
          <%= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook), :class => "btn btn-primary" %>
          <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
          <%= link_to('修改密碼', edit_registration_path(:user)) %>
          <% else %>
          <%= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook) %>
          <%= link_to('註冊', new_registration_path(:user)) %> |
          <%= link_to('登入', new_session_path(:user)) %>
      <% end %>
      </div>
       <p><%= link_to '回到首頁', events_path %></p>

 </navbar>

</header>
<div class="container">

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:alert] %></p>
<%= yield %>
</div>
</body>

</html>

