<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "FZR GARAGE" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '262683007398393',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<header class = "container">

 <navbar class = "main_navbar clearfix">

      <div class = "logo">
         <img src="http://placehold.it/160x60">
      </div>

      <div class ="nav clearfix">
          <ul>
          <li><%= link_to '關於本站', about_path %></li>
          <li><a>
          <%= link_to "所有車種", events_path, :remote => true %>
          </a></li>
          <li><a>
          <%= link_to "FZR" , "/events?type_id=1", :remote => true %>
          </a></li>
          <li><a>
          <%= link_to "FZ2" , "/events?type_id=2", :remote => true %>
          </a></li>
          <li><a>
          <%= link_to "FZ1" , "/events?type_id=3", :remote => true %>
          </a></li>
          <li><a><%= link_to '賣場', events_path %></a></l1>
          <li><a><%= link_to '回到首頁', events_path %></a></l1>
        </ul>
      </div>

 </navbar>
       <div class = "login">
      <% if current_user %>
          Hi! <%=link_to current_user.email, user_path(current_user),:method => :get%>
          <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
          <%= link_to('修改密碼', edit_registration_path(:user)) %>
          <% else %>
          <%= link_to "登入 Facebook", user_omniauth_authorize_path(:facebook) %>
          <%= link_to('註冊', new_registration_path(:user)) %> |
          <%= link_to('登入', new_session_path(:user)) %>
      <% end %>
      </div>

</header>
<div class="container">
<body>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:alert] %></p>
<%= yield %>
</div>
</body>

</html>

